.auth__main{
    align-items: center;
    // background-color: $primary;
    background: linear-gradient(90deg, rgba(29,92,99,1) 0%, rgba(65,125,122,1) 49%, rgba(26,60,64,1) 100%);
    display: flex;
    justify-content: center;
    margin: 0px;
    height: 100vh;
    width: 100vw;

}

.auth__box-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0px 3px 6px $dark-grey;
    padding: 20px;
    width: 480px;

    transition: width 0.3s ease;

}

.auth__title{
    color: darken($color: $primary, $amount: 20);
    margin-bottom: 20px;
}

.auth__input{
    color: $greenTertiary;
    border: 1px solid $greenTertiary;
    border-radius: 30px;
    font-size: 16px;
    margin-bottom: 13px;
    height: 36px;
    width: 340px;
    padding: 9px 20px;

    transition: width 0.3s ease;
    transition: border-bottom 0.3s ease;

    &:focus{
        border: 1px solid darken($color: $greenTertiary, $amount: 20);
        outline: none;
    }
}

.auth__social-networks{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.auth__alert-error{
    background-color: red;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 5px;
}

.logo-journal{
    margin-bottom: 27px;
    width: 146px;
    height: 108px;
    transition: width 0.3s ease;

}

.form-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tile-social-networks{
    color: $greenTertiary;
    text-align: center;
    margin-bottom: 17px;
}

.text-login-signup{
    color: $greenSecondary;
    font-size: 16px;
    margin-top: 27px;
}

@media screen and (max-width: 1440px){
    .auth__box-container{
        width: 430px;
        transition: width 0.3s ease;
    }

    .auth__input{
        width: 326px;
        height: 36px;
        transition: width 0.3s ease;

    }

    .logo-journal{
        margin-bottom: 27px;
        width: 131px;
        height: 91px;
        transition: width 0.3s ease;

    }
    
    
}